canvas {
    border: 1px solid black;
}
div#table{
    width: 1000;
    height: 700;
    border: 1px solid black;
}
div#deck{
    display:flex;
    flex-wrap: wrap;
}
div.oneCardCSS{
    border: 1px solid black;
    width: 100px;
    margin: 5px;
}
/* #square {
    width: 100px;
    height: 100px;
    background: red;
  }
  #diamond-filled {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 70px solid red;
    position: relative;
    top: -50px;
  }
  #diamond-filled:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 70px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid red;
  } */